h1 {
	text-align:center;
	color:grey;
}  
button{
	color:#0D89DB;
}
body{
	background:#22DB0D;
}
.yelloow{
	text-align:center;
	color:yellow;
}
p{
	text-align:center;
	color:rgba(255,0,0,0.9);
}
